.simple-dd-container{
    height : 100%;
    width:100%;
}

.selected-item{
    height : 100%;
    width:100%;
    display:grid;
    grid-template-columns: auto 20px;
    justify-items: center;
    background-color: white;
    padding:6px 8px;
    cursor: pointer;
    border-radius: 6px;
    border:1px solid #eeeeee;
}

.selected-item > *{
    align-self: center;
}

.item-container{
    list-style: none;
    padding: 0;
    margin:0;
    position: absolute;
    min-width: 100%;
    z-index: 1;
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);
}

.item{
    padding:6px 8px;
}

.item:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.trigger:checked ~ .item-container{
    display: block;
}