<footer class="pad-rl-40">
  <div>
    <h3>Khám phá EDE</h3>
    <a>Về chúng tôi</a>
    <a>Tuyển dụng</a>
    <a>Hợp tác kinh doanh</a>
  </div>
  <div>
    <h3>Chăm sóc khách hàng</h3>
    <a>Chương trình the VIP</a>
    <a>Câu hỏi thường gặp</a>
    <a>Hướng dẫn chọn size</a>
    <a>Liên hệ</a>
  </div>
  <div>
    <h3>Chính sách</h3>
    <a>Chính sách thanh toán</a>
    <a>Chính sách vận chuyển</a>
    <a>Chính sách đổi trả</a>
    <a>Chính sách bảo mật</a>
  </div> 
  <div>

  </div> 
</footer>