<div class="header">
    
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <a class="logo">
        <img src='/assets/logo.png' />
    </a>

    <div class="right-section">
        <div class="circle notification">

        </div>
        <div class="circle avatar">
    
        </div>
        <div class="setting-container">
            <span class="name">DDD</span>
            <span class="arrow-down"></span>
        </div>
    </div>
</div>